/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas grandes */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Columna de Tasas */
.rates-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.rate-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 200px;
    flex: 1 1 calc(50% - 15px); /* Dos columnas en pantallas grandes */
}

.rate-box img {
    max-width: 80px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.rate-box .price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 5px 0; /* Reducir el margen vertical */
}

.rate-box p {
    margin: 2px 0; /* Reducir el margen vertical de los párrafos */
    font-size: 14px;
    color: #555;
}

/* Colores para aumento o disminución */
.rate-box .positive {
    color: green; /* Color verde para aumentos */
}

.rate-box .negative {
    color: red; /* Color rojo para disminuciones */
}

.rate-box .last-update {
    margin-top: 5px; /* Reducir el espacio arriba de "Última actualización" */
    font-size: 12px;
    color: #888;
    line-height: 1.2; /* Reducir el espacio entre líneas */
}

.rate-box .last-update strong {
    display: block; /* Mantener "Última actualización:" en una línea separada */
    margin-bottom: 2px; /* Reducir el espacio entre el texto y la fecha */
}

.rate-box .last-update span {
    display: block; /* Mantener la fecha en una línea separada */
    font-size: 12px; /* Tamaño de la fuente de la fecha */
    color: #888; /* Color del texto de la fecha */
}

/* Nueva Calculadora de Divisas */
.calculator-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-container input[type="number"],
.form-container select,
.form-container input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Aumentar el tamaño de la fuente */
}

.form-container input[type="number"]::placeholder {
    color: #999;
}

.form-container #custom-rate {
    margin-top: -5px;
}

.result-container {
    display: flex;
    flex-direction: column; /* Cambiamos a columna para centrar horizontalmente los elementos */
    align-items: center; /* Centra los elementos horizontalmente dentro del flex container */
    margin-bottom: 15px;
    text-align: center; /* Asegura que el texto dentro del .price también esté centrado si es necesario */
}

.result-container .price {
    font-size: 1.2em;
	font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; /* Añade un poco de espacio entre el resultado y el botón */
}

.result-container .copy-btn {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 0; /* Elimina el margen izquierdo que lo empujaba a la derecha */
}

.result-container .copy-btn:hover {
    background-color: #4cae4c;
}

#copy-message {
    display: none;
    color: green;
    font-size: 0.9em;
    margin-top: 5px;
	text-align: center;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Estilos para el resultado de la calculadora */
.conversion-result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px; /* Añade espacio entre el resultado y el botón si están en columna */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Una columna en móviles */
    }

    .calculator-container {
        order: -1; /* Mueve la calculadora a la parte superior */
    }

    .rates-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .rate-box {
        flex: 1 1 calc(50% - 10px); /* Dos columnas en móviles */
    }

    .rate-box.promedio {
        flex: 1 1 100%; /* Ocupa toda la fila */
        max-width: calc(100% - 20px); /* Ancho completo menos el margen */
        margin: 10px auto; /* Centrar horizontalmente */
    }
}